{% extends 'base.html' %}
{% block content %}
<h2>Carrinho</h2>
<div>
    {% if carrinho %}
        {% for item in carrinho %}
        <div class="cart-item">
            <img src="{{ url_for('static', filename=item['imagem']) }}" alt="{{ item['nome'] }}">
            <p>{{ item['nome'] }} - R$ {{ item['preco'] }}</p>
        </div>
        {% endfor %}
        
        <div class="cart-total">
            <h3>Total: R$ {{ total }}</h3>
        </div>

        <div class="cart-actions">
            <a href="{{ url_for('finalizar_pedido') }}">Finalizar Pedido</a>
        </div>
    {% else %}
        <p>Seu carrinho está vazio.</p>
    {% endif %}
</div>
{% endblock %}
