{% extends 'base.html' %}
{% block content %}
<h2>Carrinho</h2>
<div>
    {% if message %}
        <div class="notification">{{ message }}</div>
    {% endif %}
    
    {% if carrinho %}
        {% for item in carrinho %}
        <div class="cart-item">
            <img src="{{ url_for('static', filename=item['imagem']) }}" alt="{{ item['nome'] }}">
            <p>{{ item['nome'] }} - R$ {{ item['preco'] }}</p>
            <form action="{{ url_for('remover_do_carrinho', produto_nome=item['nome']) }}" method="post">
                <button type="submit">Remover</button>
            </form>
        </div>
        {% endfor %}
        
        <div class="cart-total">
            <h3>Total: R$ {{ total }}</h3>
        </div>

        <div class="cart-actions">
            <a href="{{ url_for('finalizar_pedido') }}">Finalizar Pedido</a>
            <a href="{{ url_for('limpar_carrinho') }}">Limpar Carrinho</a>
        </div>
    {% else %}
        <p>Seu carrinho está vazio.</p>
    {% endif %}
</div>
{% endblock %}
